{% extends '::base.html.twig' %}

{% block inner_content -%}
    <h3>Afferenza edit</h3>

    {{ form(edit_form) }}

	{{ form(delete_form) }}

    <a class="btn" href="{{ path('afferenza') }}">
        Back to the list
    </a>
</ul>
{% endblock %}
