{% extends '::base.html.twig' %}

{% block inner_content -%}
    <h3>Afferenza creation</h3>

    {{ form(form) }}

    <a class="btn" href="{{ path('afferenza') }}">
        Back to the list
    </a>
{% endblock %}
