{% extends '::base.html.twig' %}

{% block inner_content -%}
    <h1>Afferenza creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('afferenza') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
